asgiref==3.2.3
certifi==2022.12.7
chardet==3.0.4
Django==3.0.3
django-mongodb-engine==0.6.0
django-redis==4.11.0
djangorestframework==3.11.0
djangotoolbox==1.8.0
idna==2.8
pymongo==3.10.1
pytz==2019.3
redis==3.4.1
requests==2.22.0
sqlparse==0.3.0
urllib3==1.25.8
